extends ./template/base.pug

block content
	.card-deck
		for item in data.items
			.card.mb-3(style="min-width:400px")
				.row.no-gutters
					.col-md-4.bg-dark.d-flex.justify-content-center
						div.d-flex.align-items-center.p-2
							img.img-fluid(src=item.tvg.logo style="object-fit: cover;object-position: center;")
					.col-md-8
						.card-body
							h5.card-title #{item.name}
							
							.row
								.col
									label Gruppo:	
								.col
									label #{item.group.title}

							a.btn.btn-primary(href=item.url target="_blank") Play
